<!-- <ul>
    <li *ngFor="let gifs of resultados">
        {{ gifs.title }}
    </li>
</ul> -->

<div class="row">
    <div *ngFor="let gifs of resultados" class="col-md-4 col-sm-6">
        <div class="card">
            <!--? Para mostrar la imagen, para que angular establezca el valor al source -->
            <img class="card-img-top" [src]="gifs.images.downsized_medium.url" [alt]="gifs.title">
            <div class="card-body">
                <p class="card-text">
                    <!--! {{ gifs.title }} Para tener acceso a las propiedades -->
                </p>
            </div>
        </div>
    </div>
</div>