<div class="bg-dark border-riught p-3" id="sidebar">
  <h3 class="text-light">Gifs-APP</h3>
  <hr class="text-white" />

  <div class="list-group list-reset">
    <!--
    NOTE  El pipe (|) en este caso le pasamos la funcion para capitalizar el texto (que la primera siempre sea mayuscula) 
    NOTE  Y sirve para manipular el dato de forma visual en el template
    -->
    <a href="#" *ngFor="let item of historial" (click)="buscar(item)" class="list-group-item list-group-item-action"> {{ item | titlecase }} </a>
  </div>
</div>
